---
import type { CategoryType } from "../../types/CategoryType";
import OptimizedImage from "../images/OptimizedImage.astro";
import {createCategoryUrl} from "../../libs/urls";
import {getItemsByCategoryId, getSiteInfo} from "../../libs/csv";
import {getTranslations} from "../../i18n";

type CategoryProps = {
  category: CategoryType;
};

const { language, minPostPerCategoryIndex } = getSiteInfo();
const t = getTranslations(language);
const { category } = Astro.props as CategoryProps;
const numberOfPosts = getItemsByCategoryId(category.id).length;
---

<!-- Localidad -->
<div
  class="bg-gray-50 rounded-lg shadow-sm p-5 flex flex-col items-center text-center"
>
  <a href={createCategoryUrl(category)}>
    <OptimizedImage
      src={category.image}
      alt={category.title}
      class="rounded-lg mb-4 w-full h-48 object-cover"
    />
  </a>

  <h2 class="text-xl font-semibold text-blue-700 mb-2">
    <a href={createCategoryUrl(category)}>{category.title}</a>
  </h2>
  <p class="text-sm text-gray-600 mb-4">
    {numberOfPosts + " "}{numberOfPosts > 1 ? t.ARTICLE_TEXT_PLURAL : t.ARTICLE_TEXT}
  </p>
  <a
    href={createCategoryUrl(category)}
    class="bg-blue-600 text-white text-sm px-20 py-2 rounded hover:bg-blue-700"
    >{t.MESSAGE_CLICK_POST_PLURAL}</a
  >
</div>
