---
import type { CategoryType } from "../../types/CategoryType";
import OptimizedImage from "../images/OptimizedImage.astro";
import {createCategoryUrl} from "../../libs/urls";
import {getItemsByCategoryId, getSiteInfo} from "../../libs/csv";
import {getTranslations} from "../../i18n";

type CategoryProps = {
  category: CategoryType;
};

const { language } = getSiteInfo();
const t = getTranslations(language);
const { category } = Astro.props as CategoryProps;
const numberOfPosts = getItemsByCategoryId(category.id).length;
---

<!-- Localidad -->
<div
    class="bg-white text-gray-800 rounded-lg shadow-sm p-5 flex flex-col items-center text-center border border-[var(--color-header-bg)] transition-colors duration-300"
>
  <a href={createCategoryUrl(category)}>
    <OptimizedImage
        src={category.image}
        alt={category.title}
        class="rounded-lg mb-4 w-full h-48 object-cover"
    />
  </a>

  <h2 class="text-xl font-semibold text-primary mb-2">
    <a href={createCategoryUrl(category)} class="hover:underline text-[var(--color-header-bg)] line-clamp-1" title={category.title}>
      {category.title}
    </a>
  </h2>

  <p class="text-sm text-gray-500 mb-4">
    {numberOfPosts + " "}
    {numberOfPosts > 1 ? t.ARTICLE_TEXT_PLURAL : t.ARTICLE_TEXT}
  </p>

  <a
      href={createCategoryUrl(category)}
      class="mt-4 inline-block bg-[var(--color-header-bg)] hover:bg-[var(--color-primary-hover)] text-[var(--color-header-text)] text-sm font-semibold px-6 py-2.5 rounded-lg shadow-md hover:shadow-lg ring-1 ring-border transition duration-150 ease-in-out"
  >
    {t.MESSAGE_CLICK_POST_PLURAL}
  </a>
</div>
