---
import { categoriesFilePath } from "../../libs/constants";
import { getItemById, getSiteInfo } from "../../libs/csv";
import type { CategoryType } from "../../types/CategoryType";
import type { PostType } from "../../types/PostType";
import OptimizedImage from "../images/OptimizedImage.astro";
import {createCategoryUrl, createPostUrl, formatContent, formatTitle} from "../../libs/urls";
import { getTranslations } from "../../i18n";

type PostProps = {
  post: PostType;
};

const { language } = getSiteInfo();
const t = getTranslations(language);
const { post } = Astro.props as PostProps;
const category = getItemById<CategoryType>(
    categoriesFilePath,
    post.category_id
);
---

<div class="bg-white text-gray-800 rounded-lg shadow-md p-5 border border-[var(--color-header-bg)] transition-colors duration-300">
  <h2 class="text-xl text-center font-bold text-[var(--color-header-bg)] mb-2">
    <a href={createPostUrl(post, category)} class="hover:underline line-clamp-1" title={post.title}>
      {post.title}
    </a>
  </h2>

  <p class="text-xs text-center text-gray-500 my-3">
    📍 {t.LOCATION_TEXT + " "}
    <a
        href={createCategoryUrl(category)}
        class="hover:text-[var(--color-header-bg)] underline-offset-2 underline"
    >
      {category?.title}
    </a>
  </p>

  <a href={createPostUrl(post, category)}>
    <OptimizedImage
        src={post.image}
        alt={post.title}
        class="rounded-lg mb-4 w-full h-48 object-cover"
    />
  </a>

  <p class="text-sm text-gray-800 text-center mb-4 line-clamp-5" >{formatContent(post.content)}</p>

  <div class="flex justify-center mt-4">
    <a
        href={createPostUrl(post, category)}
        class="inline-block bg-[var(--color-header-bg)] hover:bg-[var(--color-primary-hover)] text-[var(--color-header-text)] text-sm font-semibold px-6 py-2.5 rounded-lg shadow-md hover:shadow-lg ring-1 ring-[var(--color-header-bg)] transition duration-150 ease-in-out"
    >
      {t.MESSAGE_CLICK_POST}
    </a>
  </div>
</div>

