---
import Layout from "../layouts/Layout.astro";
import {getSiteInfo} from "../libs/csv";
import {getTranslations} from "../i18n";

const { name, language } = getSiteInfo();
const t = getTranslations(language);
---

<Layout
  title= {"404 - " + t.NOT_FOUND_TEXT}
  description={t.NOT_FOUND_DESCRIPTION}
>
  <div class="flex flex-col items-center justify-center h-screen">
    <h1 class="text-4xl font-bold mb-4">404 - {t.NOT_FOUND_TEXT}</h1>
    <p class="text-lg mb-8">{t.NOT_FOUND_TEXT_BODY}</p>
    <a
      href="/"
      class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700"
      >{t.BACK_TO_HOME_TEXT}</a
    >
  </div>
</Layout>
