---
import { getSiteInfo } from "../libs/csv";
import {getTranslations} from "../i18n";

const { name, language } = getSiteInfo();
const t = getTranslations(language);

const pagesHeader = [
  { name: t.HOME_TEXT, url: "/" },
  { name: t.LOCALITIES_TEXT, url: "/localities" },
  { name: t.ABOUT_TEXT, url: "/about" },
  { name: t.SITEMAP_TEXT, url: "/sitemap-index.xml" },
  { name: t.CONTACT_TEXT, url: "/contact" },
];
---

<header class="bg-bg shadow py-4 text-text border-b border-border transition-colors duration-300">
  <div class="container mx-auto px-4 flex justify-between items-center">
    <p class="text-xl font-bold">
      <a href="/" class="text-text font-semibold hover:text-primary"
      >{name}</a
      >
    </p>

    <!-- Botón hamburguesa (visible solo en móviles) -->
    <button id="menu-button" class="md:hidden text-text focus:outline-none">
      <!-- Icono hamburguesa -->
      <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
      >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
        />
      </svg>
    </button>

    <!-- Navegación (visible en pantallas medianas en adelante) -->
    <nav class="hidden md:flex space-x-6" id="menu">
      {pagesHeader.map((page) => (
        <a
          href={page.url}
          class="text-text font-semibold hover:text-primary transition duration-150 hover:scale-105"
        >
          {page.name}
        </a>
      ))}
    </nav>
  </div>

  <!-- Menú desplegable móvil -->
  <div class="md:hidden px-4 text-center" id="mobile-menu" style="display: none;">
    <nav class="flex flex-col space-y-2 mt-4">
      {pagesHeader.map((page) => (
        <a
          href={page.url}
          class="text-text font-semibold hover:text-primary"
        >
          {page.name}
        </a>
      ))}
    </nav>
  </div>
</header>
