---
import CardRelated from "../components/card/CardRelated.astro";
import OptimizedImage from "../components/images/OptimizedImage.astro";
import Layout from "../layouts/Layout.astro";
import { categoriesFilePath, postsFilePath } from "../libs/constants";
import { getItemById, getItemsByCategoryId, getSiteInfo } from "../libs/csv";
import { getDateTimeString } from "../libs/global";
import { type PostType } from "../types/PostType";

type PostProps = {
  post: PostType;
};

const { post } = Astro.props as PostProps;

const { name } = getSiteInfo();
const category = getItemById(categoriesFilePath, post.category_id);

const postRelated = getItemsByCategoryId(
  postsFilePath,
  post.category_id
).filter(
  (relatedPost) =>
    relatedPost.category_id === post.category_id && relatedPost.id !== post.id
);
---

<Layout title={"▷ " + post.title + " - " + name} description={post.content.slice(0,150) + "..."} image={post.image}>
  <main class="container mx-auto max-w-6xl px-4 py-10">
    <!-- Contenido central del artículo con fondo blanco -->
    <div class="bg-white shadow-md rounded-lg p-8">
      <!-- Título -->
      <h1 class="text-3xl font-bold text-gray-800 mb-4">
        {post.title}
      </h1>

      <!-- Meta información -->
      <div class="text-sm text-gray-500 mb-6 flex flex-wrap gap-4">
        <span>📅 Publicado el {getDateTimeString(post.publishedAt)}</span>
        <span>✍️ Autor: Juan Pérez</span>
        <span
          >🏷️ Categoría: <a href={category?.slug} class="hover:text-blue-600"
            >{category?.title}</a
          ></span
        >
      </div>

      <!-- Imagen destacada -->
      <OptimizedImage
        src={post.image}
        alt={post.title}
        class="rounded-lg mb-8 h-64 object-cover mx-auto"
      />

      <!-- Contenido del artículo -->
      <article
        class="prose lg:prose-lg max-w-none text-gray-800"
        set:html={post.content}
      />
    </div>

    <!-- Artículos relacionados con fondo blanco -->
    <section class="bg-white shadow-md rounded-lg p-8 mt-10">
      <h2 class="text-2xl font-semibold text-gray-800 mb-6">
        Artículos relacionados
      </h2>
      <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <!-- Cards -->
        {
          postRelated.map((relatedPost) => (
            <CardRelated post={relatedPost} key={relatedPost.slug} />
          ))
        }
      </div>
    </section>
  </main>
</Layout>
